<!--Mail Menu Start-->
<div class="mail-menu">
    <button class="button-compose-mail button button-danger button-round" data-toggle="modal" data-target="#modal-compose-mail">Compose Mail</button>
    <ul>
        <li><a href="#"><i class="zmdi zmdi-email-open"></i> Inbox</a></li>
        <li><a href="#"><i class="zmdi zmdi-mail-send"></i> Send</a></li>
        <li><a href="#"><i class="zmdi zmdi-file"></i> Draft</a></li>
        <li><a href="#"><i class="zmdi zmdi-cloud-done"></i> Outbox</a></li>
        <li><a href="#"><i class="zmdi zmdi-star"></i> Stared</a></li>
        <li><a href="#"><i class="zmdi zmdi-comments"></i> Chats</a></li>
        <li><a href="#"><i class="zmdi zmdi-block"></i> Spam</a></li>
        <li><a href="#"><i class="zmdi zmdi-delete"></i> Trash</a></li>
        <li><a href="#"><i class="zmdi zmdi-plus-circle"></i> Creat New</a></li>
    </ul>
</div><!--Mail Menu End-->