<!--Mail Options Start-->
<div class="mail-options">

    <div class="mail-options-group">
        <div class="adomx-dropdown">
            <button class="mail-button-filter toggle"><i class="zmdi zmdi-filter-list"></i></button>
            <ul class="adomx-dropdown-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">None</a></li>
                <li><a href="#">Read</a></li>
                <li><a href="#">Unread</a></li>
                <li><a href="#">Starred</a></li>
                <li><a href="#">Unstarred</a></li>
            </ul>
        </div>
        <button class="mail-button-reply"><i class="zmdi zmdi-mail-reply"></i></button>
        <button class="mail-button-refresh"><i class="zmdi zmdi-replay"></i></button>
    </div>

    <div class="mail-options-group">
        <button class="mail-button-starred"><i class="zmdi zmdi-star-outline"></i></button>
        <button class="mail-button-archive"><i class="zmdi zmdi-archive"></i></button>
        <div class="adomx-dropdown">
            <button class="mail-button-category toggle"><i class="zmdi zmdi-folder"></i></button>
            <ul class="adomx-dropdown-menu">
                <li><span>Move to:</span></li>
                <li><hr></li>
                <li class="checked"><a href="#"><i class="check"></i> Forwarded</a></li>
                <li><a href="#"><i class="check"></i> Replied</a></li>
                <li><a href="#"><i class="check"></i> Social</a></li>
                <li><a href="#"><i class="check"></i> Forums</a></li>
                <li><a href="#"><i class="check"></i> Promotions</a></li>
                <li><hr></li>
                <li><a href="#">Spam</a></li>
                <li><a href="#">Trash</a></li>
                <li><hr></li>
                <li><a href="#">Create New</a></li>
                <li><a href="#">Manage Folder</a></li>
            </ul>
        </div>
    </div>

    <div class="mail-options-group">
        <button class="mail-button-delete"><i class="zmdi zmdi-delete"></i></button>
        <div class="adomx-dropdown">
            <button class="mail-button-snooze toggle"><i class="zmdi zmdi-alarm-snooze"></i></button>
            <ul class="adomx-dropdown-menu">
                <li><span>Snooze ultil..</span></li>
                <li class="checked"><a href="#">Later today <span class="ml-auto">6:00 PM</span></a></li>
                <li class="checked"><a href="#">Tomorrow <span class="ml-auto">8:00 AM</span></a></li>
                <li class="checked"><a href="#">Next week <span class="ml-auto">8:00 AM</span></a></li>
                <li class="checked"><a href="#">Next weekend <span class="ml-auto">8:00 AM</span></a></li>
                <li><hr></li>
                <li><a href="#"><i class="zmdi zmdi-calendar"></i> Pick date & time</a></li>
            </ul>
        </div>
        <div class="adomx-dropdown">
            <button class="mail-button-label toggle"><i class="zmdi zmdi-label"></i></button>
            <ul class="adomx-dropdown-menu">
                <li><span>Label as:</span></li>
                <li><hr></li>
                <li class="checked"><a href="#"><i class="check"></i> Forwarded</a></li>
                <li><a href="#"><i class="check"></i> Replied</a></li>
                <li><a href="#"><i class="check"></i> Social</a></li>
                <li><a href="#"><i class="check"></i> Forums</a></li>
                <li><a href="#"><i class="check"></i> Promotions</a></li>
                <li><hr></li>
                <li><a href="#">Create New</a></li>
                <li><a href="#">Manage Labels</a></li>
            </ul>
        </div>
        <div class="adomx-dropdown">
            <button class="mail-button-more toggle"><i class="zmdi zmdi-more-vert"></i></button>
            <ul class="adomx-dropdown-menu adomx-dropdown-menu-right">
                <li><a href="#">Mark all as read</a></li>
                <li><a href="#">Mark as read</a></li>
                <li><a href="#">Mark as unread</a></li>
                <li><a href="#">Mark as inportant</a></li>
                <li><a href="#">Mark as not inportant</a></li>
                <li><a href="#">Add to Tasks</a></li>
                <li><a href="#">Add Star</a></li>
                <li><a href="#">Filter messages like these</a></li>
                <li><a href="#">Mute</a></li>
            </ul>
        </div>
    </div>


</div><!--Mail Options End-->